@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

body {
  min-width: 1440px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.main-header .container {
  background-color: #FFE17F;
}


.header-top {
  padding: 17px 60px 30px 60px;
  background: linear-gradient(#ffffff 40px, #FFE17F 40px);
}

.header-top-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.header-top-link:hover {
  opacity: 0.6;
}

.header-top-link:active {
  opacity: 0.3;
}

.header-top-link {
  display: block;
  width: 145px; 
  height: 36px; 
}

 .header-top-img {
  display: block;
  width: 100%;
  object-fit: contain;  
  }

.header-middle {
  padding: 0 60px;
  margin-bottom: 30px;
}

.navigation-user-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: baseline; 
} 

.navigation-user-item {
  margin-right: 26px;
}

.navigation-user-item:last-child {
  margin-right: 0;
}

.menu-form {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 517px; 
  border: 2px solid black;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 50px/50px;
  position: relative;
  display: flex;
}

.menu-form-input {
  margin: 0;
  padding: 8px 8px 8px 46px;
  width: 359px;
  border: none;
  background-color: transparent;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.menu-form-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.menu-form-input:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.menu-form:disabled {
  opacity: 0.3;
}

.menu-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.button-search {
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  background-color: transparent;
  color: #000000;
  min-width: 159px;/* 
  min-height: 40px; */
  border: none;
  border-radius: 0 50px 50px 0;
  border-left: 2px solid black;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  line-height: 20px;
  cursor: pointer;
  overflow-wrap: break-word;
}

.button-search:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.button-search:hover {
  background-color: #000000;
  color: #ffffff;
}

.button-search:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.25);
}

.button-search:disabled {
  opacity: 0.3;
}

.account-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  width: 231px;
}
.account-list a, .account-list .button-logout {
  display: none;
}

.logged a, .logged .button-logout {
  display: flex;
}

.logged .button-login {
  display: none;
}

.button-login, .button-logout {
  margin: 0;
  padding: 0;
  min-width: 56px;
  padding-left: 27px;
  border: none;
  background-color: #FFE17F;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  position: relative;
  overflow-wrap: break-word;
}

.button-logout {
  color: rgba(0, 0, 0, 0.25);
  padding-left: 0;
}

.button-login:focus, .button-logout:focus,.account-name-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.button-login:hover, .button-logout:hover,.account-name-link:hover {
  opacity: 0.6;
}

.button-login:active, .button-logout:active,.account-name-link:active {
  opacity: 0.3;
}

.button-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.account-link {
  width: 120px;
  position: relative;
  display: block;
  padding-left: 27px;
  margin-right: 27px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  overflow-wrap: break-word;
}

.account-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu-user-list {  
  margin: 0;
  padding: 0;
  width: 240px;
  list-style: none;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.menu-user-item {
  min-width: 105px;
  margin-right: 18px;
  position: relative;
}

.menu-user-item:nth-child(2n), .menu-user-item:last-child {
  margin-right: 0;
}

.menu-user-link {
  box-sizing: border-box;
  display: block;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  overflow-wrap: break-word;
  padding-left: 22px;
}

.menu-user-link-cart {
  padding-left: 43px;
  position: relative;
}

.menu-user-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.menu-user-link:hover {
  opacity: 0.6;
}

.menu-user-link:active {
  opacity: 0.3;
}

.menu-user-icon {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-user-icon-compare {
  left: 0;
}

.menu-user-icon-cart {
  left: 15px;
}

.menu-user-link-cart::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "2";
  background-color: #ffffff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  border-radius: 50%;
  z-index: 1;
}

.popover {
  position: absolute;
  width: 320px;
  right: -60px;
  background-color: #000000;
  color: #ffffff;
  z-index: 2;
}

.popover-close {
  display: none;
}

.popover-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popover-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.popover-link {
  text-decoration: none;
  display: flex;
}

.popover-img {
  display: block;
  width: 39px;
  height: 43px;
  object-fit: contain;
  margin-right: 23px;
}

.popover-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.popover-link:hover {
  opacity: 0.6;
}

.popover-link:active {
  opacity: 0.3;
}

.popover-descr {
  width: 150px;
  font-family: Rubik;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF
}

.popover-close-button {
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  border: none;
  background: url('../images/close-popover.svg') no-repeat right top;
  color: #ffffff;
  cursor: pointer;
}

.popover-close-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.popover-close-button:hover {
  opacity: 0.6;
}

.popover-close-button:active {
  opacity: 0.3;
}

.popover-result {
  height: 44px;
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A1A1A;
}

.popover-descr {
  display: block;
  font-family: Rubik;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.popover-descr:not(:last-child) {
  margin-right: 34px;
}

.open-cart-button {
  margin: 0 20px;
  margin-bottom: 20px;
  padding: 0;
  border: none;
  min-width: 280px;
  min-height: 50px;
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.open-cart-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.open-cart-button:hover {
  background-color: #FFE17F;
}

.open-cart-button:active {
  opacity: 0.3;
}

.header-bottom {
  padding: 0 60px;
  padding-bottom: 137px;
}

.header-bottom-inner {
  padding-bottom: 22px;
}

.menu-nav {
  position: relative;
}

.menu-button {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow-wrap: break-word;
  width: 293px;
}

.menu-button span {
  width: 236px;
  overflow-wrap: break-word;
  margin-right: 7px;
  letter-spacing: 0.2em;
}

.button-dropdown {
  margin: 0;
  padding: 0;
  min-width: 50px;
  min-height: 50px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.button-dropdown::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.25);
}

.button-dropdown::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.25);
}

.menu-button:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
  z-index: 1;
}

.button-dropdown:focus {
  outline: none;
}

.menu-nav:hover .button-dropdown {
  border: 1px solid #000000;
}

.menu-nav:hover .button-dropdown::before {
  background: #000000;
}

.menu-nav:hover .button-dropdown::after {
  background: #000000;
}

.menu-nav:active .button-dropdown {
  border: 1px solid #000000;
}

.menu-nav:active .button-dropdown::before {
  background: #000000;
}

.menu-nav:focus-within .button-dropdown::after {
  display: none;
}

.menu-nav:focus-within .submenu-navigation-list-close {
  display: grid;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 15px 0 14px 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  overflow-wrap: break-word;
  letter-spacing: 0.2em;
}

.navigation-link-current::before {
  display: none;
  content: "";
  position: absolute;
  bottom: 9px;
  height: 2px;
  background-color: #000000;
  width: 100%;
}

.navigation-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-item-wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 475px;
  flex-wrap: wrap;
}

.navigation-item-service:not(:last-child) {
  margin-right: 45px;
}

.submenu-navigation-list {   
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #FFE17F;
  width: 1160px;
  padding-left: 60px;
  margin-left: -60px;
  margin-top: 14px;
  padding-bottom: 27px;
  display: grid;
  grid-template-columns: 252px 211px 211px;
  grid-row-gap: 20px;
  z-index: 2;
}

.submenu-navigation-item {
  min-height: 20px;
}

.submenu-navigation-item-1 {
  grid-column: 1/2;
}

.submenu-navigation-list-close {
  display: none;
}

.submenu-navigation-link {
  position: absolute;
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
}

.submenu-navigation-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.submenu-navigation-link:hover {
  opacity: 0.6;
}

.submenu-navigation-link:active {
  opacity: 0.3;
}

.advertising {
  margin-top: -152px;
  margin-bottom: 70px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-item {
  display: none;
}

.slider-item-current {
  display: flex;
  justify-content: space-between;
}

.slider-gallery {
  position: relative;
  width: 560px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.slider-gallery-img {
  display: block;
  width: 100%;
  object-fit: contain;

}

.slider-gallery a:focus {
  outline: 2px solid #AF4FFF;
}

.slider-button {
  position: absolute;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 20px;
  height: 60px;
  right: 0;
  top: 211px;
  cursor: pointer;
  background: url('../images/arrow.svg') no-repeat center center;
  border: none;
}

.slider-button-prev {
  left: 30px;
  transform: rotate(180deg);
}

.slider-wrapper {
  position: relative;
  width: 560px;
}

.slider-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-number {
  display: block;
  position: absolute;
  right: 49px;
  top: 85px;
  font-size: 180px;
  font-weight: 700;
  line-height: 30px;
  color: #FFFFFF;
  width: 250px;
  height: 135px;
  text-align: right;
}

.slider-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  padding-top: 123px;
  margin-bottom: 29px;
  position: relative;
  z-index: 1;
}

.slider-descr {
  margin-bottom: 51px;
}

.slider-line {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 49px;
}

.slider-link {
  display: block;
  box-sizing: border-box;
  width: 220px;
  text-align: center;
  padding: 10px 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.slider-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 220px;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: #FFE17F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.slider-link:focus{
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.slider-link:hover::before{
  height: 100%;
}

.slider-link:active::before{
  background: #FFCC33;
}

.slider-link:disabled {
  opacity: 0.3;
}

.slider-pagination {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 76px;
}

.slider-pagination-item {
  list-style: none;
}

.slider-pagination-item:not(:nth-child(3n)) {
  margin-right: 20px;
}

.slider-pagination-button {
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button-current {
  margin: 0;
  padding: 0;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
}

.slider-pagination-button-current:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.slider-pagination-button-current:hover {
  opacity: 0.6;
}

.slider-pagination-button-current:active {
  opacity: 0.3;
}

.slider-pagination-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-specifications-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style:  none;
}

.slider-specifications-item {
  font-size: 36px;
}

.slider-specifications-item:not(:last-child) {
  margin-right: 20px;
}

.slider-specifications-item-addmargin:not(:last-child) {
  margin-right: 40px;
}

.slider-specifications-item p {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.slider-specifications-item p:last-child {
  margin-bottom: 0;
}

.slider-specifications-item-descr {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
}

.catalog {
  margin-bottom: 70px;
}

.catalog-item-img {
  position: relative;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  color: #000000;
}

.catalog-item-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.catalog-item-icon-monopod {
  top: auto;
  bottom: 0px;
  left: 50%;  
  transform: translateX(-50%);
}
 
.catalog-list {
  min-height: 253px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  list-style: none;
}

.catalog-item-img {
  margin-bottom: 32px;
}

.catalog-item-subtitle {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.catalog-link {
  display: block;
  height: 100%;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: -0.02em;
}

.catalog-link:focus  {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.catalog-link:hover .catalog-item-img {
  background-color: #FFC700;;
}

.catalog-link:active  {
  opacity: 0.3;
}

.service {
  background: linear-gradient(#FFFFFF 102px, #F0F0F0 102px);
  color: #000000;
  padding-bottom: 72px;
  margin-bottom: 70px;
}

.service-column {
  display: flex;
}

.service-list {
  margin: 0;
  padding: 0;
  padding-top: 64px;
  padding-bottom: 65px;
  list-style: none;
  border-right: 7px solid #000000;
}

.service-item {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  width: 280px;
  margin-bottom: 35px;
  position: relative;
  z-index: 1;
}

.service-item:last-child {
  margin-bottom: 0;
}

.service-item-current {
  background-color: #000000;
}

.service-item-current .button-service {
  color: #FFE17F;
}

.service-item-current .button-service::after {
  background: transparent;
}

.button-service:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.service-item:focus .button-service {
  color: #FFE17F;
}

.service-item:focus .button-service::after {
  background: transparent;
}

.service-item:hover {
  background-color: #000000;
}

.service-item:hover .button-service {
  color: rgba(255, 225, 127, 0.5);
}

.service-item:hover .button-service::after {
  background: transparent;
}

.service-item:active {
  background-color: #000000;
}

.service-item:active .button-service {
  color: rgba(255, 225, 127, 0.3);
}

.service-item:active .button-service::after {
  background: transparent;
}

.button-service {
  display: block;
  margin: 0;
  padding: 10px 4px;
  border: none;
  min-width: 160px;
  min-height: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button-service::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: #FFE17F;
  z-index: -1;
}

.service-wrapper {
  padding: 72px 63px 73px 116px;
  width: 873px;
}

.service-wrapper-item {
  display: none;
}

.service-wrapper-item-current {
  display: block;
}

.service-wrapper-item-delivery {
  background: url('../images/services/delivery.svg') no-repeat right top 5px;
  background-size: 136px 164px;
}

.service-wrapper-item-guarantee {
  background: url('../images/services/guarantee.svg') no-repeat right top 5px;
  background-size: 171px 195px;
}

.service-wrapper-item-credit {
  background: url('../images/services/credit.svg') no-repeat right top 5px;
  background-size: 156px 188px;
}

.service-item-subtitle {
  display: block;
  width: 452px;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.service-item-descr {
  width: 452px;
}

.order {
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 70px;
}

.order-button {
  padding: 40px 125px 40px 125px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  width: 1160px;
  min-height: 100px;
  text-align: center;  
  letter-spacing: 0.2em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #FFE17F 125px, #F0F0F0 125px);
  position: relative;
}

.order-button::after {
  content: "";
  position: absolute;
  left: 39px;
  top: 50%;
  transform: translateY(-50%);
  background: url('../images/services/truck.svg') no-repeat center center;
  width: 47px;
  height: 31px;
}

.order-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.order-button:hover {
  background: linear-gradient(to right, #FFC700 125px, #F0F0F0 125px);
}

.order-button:active {
  opacity: 0.3;
}

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.modal-container-close {
  display: none;
}

.modal-order {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 62px 70px;
  width: 920px;
  background-color: #ffffff;
  color: #000000;
  border: 10px solid #000000;
}

.modal-order-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}

.modal-close-button {
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  border: none;
  background: url('../images/form/form-close.svg') no-repeat center center;
  cursor: pointer;
}

.modal-close-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.order-form{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 360px 140px 180px;
  gap: 40px;
}

.form-label {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 14px;
  position: relative;
}

.order-form input {
  background-color: #F0F0F0;
}

.form-input {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 20px;
  border: none;
  background-color: #F0F0F0;
  color: #000000;
}

.form-input-name {
  background: url('../images/form/form-name.svg') no-repeat right 20px center;
}

.form-input-mail {
  background: url('../images/form/form-mail.svg') no-repeat right 20px center;
}

.form-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-input:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.form-input:focus + .form-message{
  display: block;
}

.form-input:active + .form-message{
  display: block;
}

.form-input:hover {
  background-color: #DCDCDC;
}

.form-input:invalid {
  border: 2px solid #FF3D3D;
}

.form-input:invalid + .form-message{
  color: #FF3D3D;
}

.form-input:disabled {
  opacity: 0.3;
}

.form-message {
  position: absolute;
  top: 100%;
  display: none;
  font-family: Rubik;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.order-form-title {
  margin: 0;
  font-family: Raleway;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.order-form-name {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
}

.order-form-mail {
  position: relative;
  margin: 0;
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
}

.order-form-mail:invalid .form-err-message {
  display: block;
}

.order-form-text {
  margin: 0;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
}

.order-form-number {
  margin: 0;
  grid-column: 3/4;
  position: relative;
  display: flex;
  flex-direction:column
}

.form-input-number {
  box-sizing: border-box;
  width: 180px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}

.form-input-number::placeholder {
  color: #000000;
}

.input-button-number {
  width: 180px;
}

.number-button {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  left: 0;
  bottom: 0;
  font-size: 22px;
  border: none;
  background-color: #F0F0F0;
}

.number-button-minus {
  background: url('../images/form/form-minus.svg') no-repeat center center;
}

.number-button:hover {
  opacity: 0.6;
}

.number-button:active {
  background-color: #EBEBEB;
  opacity: 0.3;
}

.number-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.number-button:disabled {
  opacity: 0.3;
}

.number-button-plus {
  background: url('../images/form/form-plus.svg') no-repeat center center;
  left: auto;
  right: 0;
  bottom: 0;
}

label.form-label {
  margin-right: 8px;
}

.tooltip {
  position: relative;
}

.tooltip-button {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  width: 26px;
  height: 26px;
  background-color: #FFE17F;
  color: #000000;
  border-radius: 50%;
}

.tooltip-text {
  position: absolute;
  display: none;
  box-sizing: border-box;
  width: 200px;
  padding: 19px;
  top: 100%;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: #000000;
  color: #ffffff;
}

.tooltip-button:hover + .tooltip-text, .tooltip-button:focus + .tooltip-text {
  display: block;
}

.tooltip-button:focus {
  outline: none;
}

.order-form-button {
  box-sizing: border-box;
  display: block;
  min-width: 200px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  grid-column: 1/-1;
  justify-self: start;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.order-form-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: #FFE17F;
  z-index: -1;
}

.order-form-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.order-form-button:hover::after {
  height: 100%;
  background: #FFE17F
}

.order-form-button:active::after {
  background: #FFCC33;
}

.order-form-button:disabled {
  opacity: 0.3;
}

.information {
  margin-bottom: 70px;
}

.information .container {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 520px;
}

.about-title {
  margin: 0;
  padding: 0;
  padding-top: 47px;
  margin-bottom: 48px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  position: relative;
}

.about-title::before {
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
  position: absolute;
  top: 0;
}

.about-descr {
  color: #444444;
  width: 497px;
}

.about-descr p {
  margin: 0;
  margin-bottom: 30px;
}

.transport-list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  list-style: none;
}

.transport-item {
  padding-left: 34px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 19px;
  letter-spacing: -0.02em;
  position: relative;
}

.transport-item:last-child {
  margin-bottom: 0;
}

.transport-item::before {
  content: "";
  background-color: #FFC700;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.about-link {
  box-sizing: border-box;
  display: block;
  width: 270px;
  min-height: 40px;
  padding: 10px 6px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.about-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: #FFE17F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.about-link:focus{
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.about-link:hover::before{
  height: 100%;
}

.about-link:active::before{
  background: #FFCC33;
}

.about-link:disabled {
  opacity: 0.3;
}

.contacts {
  width: 532px;
}

.contacts-title {
  margin: 0;
  padding: 0;
  padding-top: 47px;
  margin-bottom: 48px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  position: relative;
}

.contacts-title::before {
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
  position: absolute;
  top: 0;
}

address {
  margin-bottom: 30px;
}

.contacts-descr {
  margin-bottom: 30px;
  color: #444444;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
}

.contacts-address {
  margin: 0;
  font-style: normal;
  color: #444444;
}

.contacts-phone {
  margin: 0;
  margin-bottom: 30px;
  color: #444444;
  text-decoration: underline;
  font-style: normal;
}

.contacts-phone:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.contacts-schedule-list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  list-style-type: none;
}

.button-contacts {
  box-sizing: border-box;
  display: block;
  min-width: 260px;
  min-height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.button-contacts::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: #FFE17F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.button-contacts:focus{
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.button-contacts:hover::before{
  height: 100%;
}

.button-contacts:active::before{
  background: #FFCC33;
}

.button-contacts:disabled {
  opacity: 0.3;
}

.mailing {
  padding: 64px 0 56px 7px;
  background-color: #F0F0F0;
  color: #000000;
}

.mailing-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 144px;
}

.mailing-title {
  margin: 0;
  padding: 0;
  width: 350px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.mailing-descr {
  width: 560px;
}

.mailing-form {
  padding: 0 1px 0 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.mailing-form p {
  margin: 0;
  padding: 0;
  padding-left: 32px;
  background: url('../images/check.svg') no-repeat left center;
  background-size: 16px 16px;
}

.form-email {
  display: flex;
  align-items: flex;
  width: 810px;
  /* min-height: 51px; */
  margin-right: 188px;
}

.form-email input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding: 11px 14px 13px 14px;
  width: 557px;
  /* min-height: 51px; */
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid #C4C4C4;
}

.form-email input::placeholder {
  color: #444444;
  opacity: 0.5;
}

.form-email input:focus {
  outline: none;
}

.form-email input:invalid {
  border-color: #FF3D3D;
}

.button-mail {
  box-sizing: border-box;
  width: 253px;
  /* min-height: 51px; */
  margin: 0;
  padding: 12px 33px;
  border: none;
  border: 3px solid #C4C4C4;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  cursor: pointer;
  overflow-wrap: break-word;
  letter-spacing: 0.2em;
}

.button-mail:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.button-mail:hover {
  background-color: #DCDCDC;
}

.button-mail:active {
  opacity: 0.3;
}

.main-footer {
  background-color: #444444;
  color: #ffffff;
  padding: 62px 0 61px 0;
}

.footer-top {
  margin-bottom: 35px;
}
.footer-top-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
} 

.footer-top-link:hover {
  opacity: 0.6;
}

.footer-top-link:active {
  opacity: 0.3;
}

.footer-top-link {
  display: block;
  width: 145px;
}

.footer-top-img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.footer-middle {
  display: flex;
  align-items: baseline;
  margin-bottom: 47px;
}

.footer-address {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #ffffff;
  width: 239px;
  margin-right: 112px;
}

.footer-phone {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  color: #ffffff;
  width: 175px;
  text-align: right;
}

.phone {
  margin-left: auto;
}

.footer-phone:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.footer-phone:hover {
  color: #FFC700;
  text-decoration: underline;
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  list-style: none;
}

.footer-menu-item {
  margin-right: 35px;
}

.footer-menu-item:nth-child(3n), .footer-menu-item:last-child {
  margin-right: 0;
}

.footer-menu-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color: #ffffff;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-menu-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.footer-menu-link:hover {
  color: #FFC700;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.footer-menu-link:active {
  opacity: 0.3;
}

.footer-top img {
  width: 145px;
  height: 36px;
}

.footer-bottom {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.social-list {
  margin: 0;
  padding: 0;
  padding-right: 390px;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  list-style: none;
}

.social-list::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #FFC500;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.social-item {
  margin-right: 15px;
}

.social-item:last-child,.social-item:nth-child(3n) {
  margin-right: 0;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.social-item-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #444444;
}

.social-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.social-link:hover {
  background-color: #FFC700;
}

.social-link:active .social-item-icon{
  opacity: 0.3;
}

.made-in {
  width: 115px;
  height: 33px;
}

.made-in a {
  text-decoration: none;
  color: #FFC700;
}

.made-in a:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.made-in a:hover {
  color: #FFFFFF;
}

.made-in a:active {
  opacity: 0.3;
}

.inner-header {
  margin-bottom: 35px;
}

.title-inner {
  margin: 0;
  padding-left: 60px;
  margin-bottom: 16px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs {
  margin-bottom: 35px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 60px;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  padding-right: 36px;
  position: relative;
  line-height: 19px;
}

.breadcrumbs-item:last-child {
  padding-right: 0;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  cursor: default;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.breadcrumbs-item:not(:last-child):after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('../images/breadcrumbs.svg');
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:active {
  opacity: 0.3;
}

.catalog-inner {
  background-color: #F0F0F0;
  color: #000000;
}

.catalog-inner .container {
  display: flex;
}

.catalog-inner-filter {
  padding-top: 25px;
  width: 320px;
  padding-left: 60px;
  box-sizing: border-box;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-inner-filter-group {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  padding-top: 12px;/* 
  margin-bottom: 68px; */
  line-height: 19px;
  width: 200px;
}

.catalog-inner-filter-title {
  width: 150px;
  display: block;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.catalog-inner-filter-title {
  margin-bottom: 58px;
}

.catalog-inner-filter-subtitle {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0;
  padding-top: 12px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  border-top: 2px solid #000000;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.catalog-inner-filter-subtitle-price {
  margin-bottom: 0;
}

.range {
  max-width: 200px;
  padding-top: 14px;
  margin-bottom: 68px;
}

.range-scale {
  position: relative;
  width: 200px;
  height: 2px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: #EBEBEB;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.range-toggle:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.range-toggle:hover {
  opacity: 0.5;
  background-color: #EBEBEB;
}

.range-toggle:active {
  
  background-color: #000000;
}

.range-toggle-min {
  position: absolute;
  left: -9px;
}

.range-toggle-max {
  position: absolute;
  right: -9px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  margin-left: -15px;
}

.range-label {
  display: flex;
  align-items: baseline;
  margin-right: 5px;
  font-family: Rubik;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  width: 30px;
  min-height: 18px;
}

 .range-label-min {
  margin-top: 17px;
}

.range-label-max {
  padding-top: 13px;  
}  

.range-input {
  margin: 0;
  padding: 0 4px;
  border: none;
  max-width: 70px;
  background-color: transparent;
  font-family: Rubik;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  appearance: textfield;
}

.range-input:focus  {
  outline: 2px solid #AF4FFF;
}

.catalog-inner-filter-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 35px;
}

.catalog-inner-filter-item:not(:last-child) {
  margin-bottom: 18px;
}

.catalog-inner-filter-choiсe {
  position: relative;
  display: block;
  margin-bottom: 18px;
  padding-left: 36px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.catalog-inner-filter-choiсe:last-child {
  margin-bottom: 0;
}

.catalog-inner-filter-choiсe:focus-within .control-mark {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.catalog-inner-filter-choiсe:hover {
  opacity: 0.6;
}

.catalog-inner-filter-choiсe:active {
  opacity: 0.3;
}

.catalog-inner-filter-choiсe:disabled {
  opacity: 0.1;
}

.control-mark {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
}

.control-mark-circle {
  border-radius: 50%;
}

.catalog-inner-input[type="checkbox"]:checked + .control-mark:before {
  content: "";
  position: absolute;
  background: url('../images/filter/check.svg') no-repeat center center;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  width: 10px;
  height: 10px;
}

.catalog-inner-input[type="checkbox"]:checked + .control-mark {
  border: 2px solid #000000;
}

.catalog-inner-input[type="radio"]:checked + .control-mark-circle:before {
  content: "";
  position: absolute;
  background-color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.catalog-inner-input[type="radio"]:checked + .control-mark-circle {
  border: 2px solid #000000;
}

.catalog-inner-filter-label {
  color: #000000;
  font-size: 16px;
  line-height: 19px;
}

.button-filter {
  box-sizing: border-box;
  display: block;
  min-width: 220px;
  min-height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.button-filter::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: #FFE17F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.button-filter:focus{
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.button-filter:hover::before{
  height: 100%;
}

.button-filter:active::before{
  background: #FFCC33;
}

.button-filter:disabled {
  opacity: 0.3;
}

.catalog-inner-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 40px 20px 40px;
}

.catalog-inner-sorting-title {
  width: 150px;
  display: block;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #F0F0F0;
  border: none;
  width: 160px;
}

.select-control:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.sort-up {
  display: flex;
}

.sort-up-button {
  display: block;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
}

.sort-up-icon {
  opacity: 0.2;
}

.sort-up-button:nth-child(2) .sort-up-icon {
  transform: rotate(180deg);
}

.sort-up-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
  z-index: 1;
}

.sort-up-button:hover .sort-up-icon {
  opacity: 0.5;
}

.sort-up-button:active .sort-up-icon {
  opacity: 1;
}

.catalog-inner-wrapper {
  box-sizing: border-box;
  width: 840px;
  padding: 70px 40px 78px 40px;
  background-color: #ffffff;
  color: #000000;
}

.catalog-inner-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px 40px;
  margin-bottom: 47px;
}

.catalog-inner-card-link {
  display: block;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.catalog-inner-card-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.catalog-inner-card-link:hover .button-inner-card-more {
  display: block;
}

.catalog-inner-card-link:hover .catalog-inner-card-img img,
.catalog-inner-card-link:hover .catalog-inner-card-descr,
.catalog-inner-card-link:hover .catalog-inner-card-img-new {
  opacity: 0.6;
}

.catalog-inner-card-link:active .catalog-inner-card-img img,
.catalog-inner-card-link:active .catalog-inner-card-descr,
.catalog-inner-card-link:active .catalog-inner-card-img-new {
  opacity: 0.3;
}

.catalog-inner-card-link:active .button-inner-card-more::before {
  background: #FFC700;
}

.catalog-inner-card-img {
  position: relative;
  margin-bottom: 32px;
}

.catalog-inner-card-img img{
  display: block;
  width: 100%;
  object-fit: contain;
}

.catalog-inner-card-img-new {
  position: absolute;
  box-sizing: border-box;
  font-family: Raleway;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  top: 27px;
  right: 27px;
}

.catalog-inner-card-img-new-close {
  display: none;
}

.button-inner-card-more {
  min-width: 220px;
  position: absolute;
  display: none;
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
}

.button-inner-card-more::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  background: #FFE17F;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.catalog-inner-card-descr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;  
}

.catalog-inner-card-subtitle {
  margin: 0;
  max-width: 226px;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;  
  letter-spacing: -0.02em;
}

.catalog-inner-card-price {
  width: 100px;
  text-align: right;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.download-more {
  margin: 0 auto;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  width: 760px;
  height: 55px;
  border: 3px solid #E5E5E5;
  margin-bottom: 44px;
  cursor: pointer;  
  letter-spacing: 0.2em;
}

.download-more:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.download-more:hover {
  border: 3px solid #000000;
}

.download-more:active {
  opacity: 0.3;
}

.download-more:disabled {
  border: 3px solid #E5E5E5;
  opacity: 0.3;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #F0F0F0;
  color: #000000;
}

.pagination-button {
  width: 100%;  
  display: block;
  margin: 0;
  padding: 10px 16px;
  border: none;
  font-family: Rubik;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  letter-spacing: 0.2em;
}

.pagination-button-prev, .pagination-button-next {
  margin: 0;
  padding: 25px 25px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}

.pagination-button-prev:focus, .pagination-button-next:focus {
  outline: 2px solid #AF4FFF;
}

.pagination-button-prev:hover, .pagination-button-next:hover {
  background-color: #DCDCDC;
}

.pagination-button-prev:active, .pagination-button-next:active {
  opacity: 0.3;
}

.pagination-button:focus {
  outline: 2px solid #AF4FFF;
}

.pagination-button:hover {
  color: #444444;
}

.pagination-button:active {
  opacity: 0.1;
}

.pagination-button:visited {
  opacity: 0.3;
}

.pagination-number-list {
  width: 200px;
  margin: 0;
  padding: 0;
  padding: 15px 0 16px 0;
  list-style: none;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(5, 40px);
  gap: 2px;

}

.pagination-number-item {
  width: 40px;
  height: 40px;
} 

.pagination-number-item:last-child {
  margin-right: 0;
}
